@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
}
.wrapper{
    display : grid;
    grid-template-columns : repeat(3, 1fr);
    grid-gap : 1.5em;
    padding : 20px;
    margin-bottom : 20px
}
.card-item{
    width : 100%;
    height : auto;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius : 10px;
    cursor : pointer;
    position : relative
}

.image-item{
    width : 100%;
    margin-bottom : 20px;
    transition : all 1s ease;
}
.name-item{
    font-size : 13px;
    font-weight : 500;
    margin-bottom : 2px;
    text-align : center;
    transition : all 0.3s ease;
    color : #000
};
.list{
    display : flex;
    justify-content : space-between;
    align-items : center;
}
.size-text{
    color : #000;
    display : inline-block;
    font-size : 12px;
    font-weight : 500
}

.price-item{
    font-size : 11px;
    font-weight : 500;
    color : red
}
