@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  flex-direction: column;
}
.secondary-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
}
.reg-button {
  width: 45%;
  height: 40px;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-bottom: 40px;
}
.text-container {
  width: 75%;
}
.text-container p {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 50px;
}
.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 45%;
}
.left-container h4 {
  font-weight: 600;
  margin-bottom: 50px;
  margin-right: 10px;
}
.right-container {
  padding-top: 80px;
  margin-left: 10px;
}
.input-container {
  width: 100%;
  height: 20%;
  margin-bottom: 40px;
  position: relative;
}
.input-container input {
  width: 100%;
  height: 90%;
  padding-top: 20px;
  border: none;
  color: #595f6e;
  outline: none;
}
.label-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  transition: all 0.3s ease;
  overflow: hidden;
}
.label-name::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  left: 0;
  bottom: -1px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.content-name {
  position: absolute;
  font-weight: 500;
  bottom: 3px;
  left: 0;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 400;
}
.input-container input:focus + .label-name .content-name,
.input-container input:valid + .label-name .content-name {
  transform: translateY(-120%);
  font-size: 12px;
}

.input-container input:focus + .label-name::after,
.input-container input:valid + .label-name {
  transform: translateX(0%);
}
