<footer class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
        <div class="row gy-4 gx-5 second-container">
            <div class="col-lg-4 col-md-6 left-container">
                <h3 class = "title-text">CLOTH STUDIO</h3>
                <h6 class = "mb-3 grey">Ultimate Everyday Wear</h6>
                <h4 class="white">This website is 100% copy from <a href ="https://preppstudio.com/">preppstudio.com</a></h4>
                <h4 class="mb-0 white">My purpose on building this website is only for learning and my portofolio, im not using it as online shop platform.</h4>
            </div>
            <div class="col-lg-2 col-md-6 right-container">
                <h3 class="mb-3 title-text">Contact Us</h3>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Whatsapp</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>